.container {
  margin: 1em auto;
  padding: 1em;
  mat-card-header {
    padding: 1em;
    justify-content: center;
  }
  mat-card-content {
    padding: 1em;
    overflow-x: auto;
  }
  mat-card-actions {
    padding: 1em;
    justify-content: right;
  }
}
